## Numpy

Numpy examples courteousy of: http://scipy-lectures.org/intro/numpy/array_object.html#numpy-arrays

In [1]:
import numpy as np

## Creating Numpy Arrays

1D Array

In [2]:
a = np.array([0, 1, 2, 3])
a

array([0, 1, 2, 3])

2D Array

In [3]:
b = np.array([[0, 1, 2], [3, 4, 5]]) # 2 x 3 array
b

array([[0, 1, 2],
       [3, 4, 5]])

3D Array

In [4]:
c = np.array([[[1], [2]], [[3], [4]]])
c

array([[[1],
        [2]],

       [[3],
        [4]]])

### Useful Methods for creating common arrays

Creating numbers in a range

In [5]:
np.arange(10) # 0 .. n-1  (!)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Create an Array of Zeros

In [6]:
np.zeros((3,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

Create an array of Ones

In [7]:
np.ones((3,3))

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

Identity Matrix

In [8]:
np.eye(3,3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [9]:
np.empty((3,3))

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

## Mathematical operations in Numpy

In [10]:
a = np.arange(10)
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Add, Subtract, Multiply just like

In [11]:
a - 1

array([-1,  0,  1,  2,  3,  4,  5,  6,  7,  8])

In [12]:
a**2

array([ 0,  1,  4,  9, 16, 25, 36, 49, 64, 81])

In [13]:
# Dot Product
a = np.arange(10)
np.dot(a, a)

285

In [14]:
a = np.array([1, 3, -2])
b = np.array([-2, 4, -1])

In [15]:
np.dot(a,b)

12